{% extends 'base.html' %} {% block title %} Ez$ & Buying | Inicio {% endblock %}
{% block content %}
<nav class="catNav">
  <div class="container">
    <ul class="catNav-links">
      {% for category in categories %}
      <div class="catNav-links-item" onclick="getByCat(this)">{{category}}</div>
      {% endfor %}
    </ul>
  </div>
</nav>
<!-- <nav class="catNav">
  <div class="container">
    <ul class="catNav-links" >
      <div class="catNav-links-item" onclick="getByCat(this)">Chamarras</div>
    </ul>
  </div>
</nav> -->
<section id="heroContainer" class="hero" >
  <h1>
    Los productos de mayor calidad se encuentran en EZ$ & Buying
  </h1>
  <section class="search">
    <div class="container">
      <div class="search-inputGroup">
        <input
          type="text"
          name="search"
          placeholder="Qué estás buscando hoy?"
          id="searchInput"
        />
        <button id="searchBtn">Encontrar</button>
      </div>
  
      <div class="search-cognitive" id="cogBtn" >
        <i class="fas fa-camera"></i>
      </div>
    </div>
  </section>
</section>

<div id="search-in-results" >
  <section class="search">
    <div class="container">
      <div class="search-inputGroup">
        <input
          type="text"
          name="search"
          placeholder="Qué estás buscando hoy?"
          id="searchInput2"
        />
        <button id="searchBtn2">Encontrar</button>
      </div>
  
      <div class="search-cognitive" id="cogBtn2">
        <i class="fas fa-camera"></i>
      </div>
    </div>
  </section>
</div>


<!-- ======== SEARCH BY IMAGE MODAL ========= -->
<section class="modal">
  <div class="modal-container">
    <i class="fas fa-times" id="closeModal"></i>
    <h2 class="modal-title">Sube una foto y busca productos similares</h2>
    <form
      action="/upload-image"
      method="POST"
      enctype="multipart/form-data"
      class="modal-photoContainer"
    >
      
      <input type="file" name="image" id="imgInput" />
    </form>
    <div class="modal-buttonRow">
      <button class="searchBtn" id="cogSearch">Buscar</button>
      <label for="imgInput" class="modal-photoContainer-uploadBtn"
        >Subir foto</label
      >
    </div>
  </div>
</section>

<section class="products">
  <div class="container"></div>
</section>
<div class="container-chat" id="move-chat">
  <div class="chat_icon">
    <img src="https://cdn-icons.flaticon.com/png/512/3988/premium/3988126.png?token=exp=1637203557~hmac=116b898bb0a4dda61f621bb0849f5d41" class="eva" alt="eva">
  </div>
  <div class="chat mostrar-chat" id="botsito">
    <iframe title="Botsito" src="https://web.powerva.microsoft.com/environments/Default-8a925dc1-e8e7-4bc0-a9ef-eee7cc0d5b37/bots/new_bot_b2fdc3f6d2374a609da3d652e8052dfc/webchat" frameborder="0" style='min-width: 400px; width: 100%; min-height: 500px;'></iframe> 
  </div>
</div>
<script src="{{url_for('static', filename='scripts/getProducts.js')}}"></script>
<script>
  on_index = true;
  on_index ? document.body.style.overflow = 'hidden' : document.body.style.overflow = 'initial';
</script>
{% endblock %}
