{% extends 'base.html' %}

{% block title %}
Ez$ & Buying | Producto
{% endblock %}

{% block content %}
<style>
  .alert {
  padding: 20px;
  background-color: #2eb885;
  color: white;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
  <section class="detail">
    
    <div class="container">
      <div class="detailContainer">
        <a href="/" class="detail-back">REGRESAR</a>
        <div class="detail-imgCol">
          <img src="/static/uploads/{{product.image}}" alt="">
        </div>
        <div class="detail-infoCol">
          <h2 class="detail-infoCol-title">{{product.name}}</h2>
          <div class="detail-infoCol-priceRow">
            <div class="detail-infoCol-price">${{product.price}}</div>
            <button class="detail-infoCol-buyBtn">Agregar al carrito</button>
          </div>
          <div id="alert" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Producto Agregado</strong> Tu producto ha sido Agregado al carrito con éxito.
          </div>
          <div class="detail-infoCol-description">
            <p>{{product.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="{{url_for('static', filename='scripts/addToCart.js')}}"></script>
{% endblock %}